{% extends 'fixfoot.html' %}


{% block content %}

<h1>Login</h1><hr><div class="container">
{% if error %}{{ error }}{% endif %}


<center>
<form method="POST" actions="{ % url 'login' }">
  {% csrf_token %}
<b>  Username: </b><br/><input type="text" placeholder="username" name="username" required/><br/>
  <b>Password: </b><br/> <input type="password" placeholder="Password" name="password" required/><br/>
  <br/>
  <input class= "btn btn-info" type="submit" value="Login"/>

</form></center></div><br><br><br><br><br><br>



{% endblock %}
