{% extends 'base.html' %}


{% block content %}
<div class="container">
{% if error %}
{{ error }}
<br/>
{% endif %}
</div>
<h1>Create your account</h1>

<form method="POST" actions="{ % url 'signup' }">
  {% csrf_token %}
  Full name: <br/><input size=40 type="text" name="fullname" required/>
  <br/>
  Email id: <br/><input size=40 type="email" name="fullname" required/>
  <br/>
  Institute: <br/><input size=40 type="text" name="institute" required/>
  <br/>
  Username: <br/><input type="text" name="username" required/>
  <br/>
  Password: <br/> <input  type="password" name="password1" required/>
  <br/>
  Confirm Password: <br/> <input type="password" name="password2" required/>
<br/><br/>
  <input class= "btn btn-info" type="submit" value="Sign Uppp!"/>

</form>
<br/>
{% endblock %}
