{% extends 'base.html' %}


{% block content %}
<div class="container-fluid pt-3">
<h3><center>ABOUT US</center></h3><hr style="height:2px;border-width:0;color:gray;background-color:gray;width:85%;">
</div>
<div class="container"><div class="container">
<p>This will be the about page</p>
</div></div>
<div class="container-fluid pt-3">
<h4><center>WHAT WE DO?</center></h4>
</div>
<div class="container"><div class="container">
<p>This will be the about what you can do for the visitors</p>
</div></div>
<div class="container-fluid pt-3">
<h4><center>HOW</center></h4>
</div>
<div class="container"><div class="container">
<p>Tell something related to your work , how you are going to do it</p>
</div></div>
<div class="container-fluid pt-3">
<h4><center>WHY TRUST US</center></h4>
</div>
<div class="container"><div class="container">
<p>Give reasons so that visitors can trust you</p>
</div></div>
<div class="container-fluid pt-3">
<h4><center>ADD ONE/TWO TOPICS</center></h4>
</div>
<div class="container"><div class="container">
<p>Give reasons so that visitors hire you yo work</p>
</div></div>
<div class="container-fluid pt-3">

{% endblock %}
